_template.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body class="home">
    <div class="container">
      <div class="header">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="nav">
          <ul>
            <li><a href="#">The Insipirationals</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li class="youtube"><a href="#">Youtube</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="pinterest"><a href="#">Pinterest</a></li>
            <li class="instagram"><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <div class="social">
          <ul>
            <li class="youtube"><a href="#">Youtube</a></li>
            <li class="twitter"><a href="#">Twitter</a></li>
            <li class="facebook"><a href="#">Facebook</a></li>
            <li class="pinterest"><a href="#">Pinterest</a></li>
            <li class="instagram"><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

_template.jade
doctype html
html
  head
    title Timex
    link(rel="stylesheet" type="text/css" href="style.css")
    meta(charset="utf-8")
    script(src="js/jquery-1.11.1.js")
    script(src="js/jquery.bxslider.js")
    script(src="js/jquery.mousewheel.js")
    script(src="js/jquery.jscrollpane.js")
    script(src="js/jquery-scrollspy.js")
    script(src="js/masonry.pkgd.js")
    script(src="js/main.js")
  body
    .container
      .header
        a.logo(href="index.html")
          img(src="images/logo.png")
        .nav
          ul
            li: a(href="inspirationals.html") The Insipirationals
            li: a(href="article-index.html") Articles
            li: a(href="product.html") Products
            li: a(href="tag-wall.html") #TAG Wall
            li: a(href="#") The Predictor
        ul.social
          li.youtube: a(href="#") Youtube
          li.twitter: a(href="#") Twitter
          li.facebook: a(href="#") Facebook
          li.pinterest: a(href="#") Pinterest
          li.instagram: a(href="#") Instagram
        .timer
          ul.timer-count
            li 254
            li 12
            li 43
            li 12
          ul.timer-label
            li Days
            li Hrs
            li Mins
            li Secs

      block content

      .footer
        .logo
          img(src="images/logo.png")
        .logo-sub
          img(src="images/logo-sub.png")


        ul.social
          li.youtube: a(href="#") Youtube
          li.twitter: a(href="#") Twitter
          li.facebook: a(href="#") Facebook
          li.pinterest: a(href="#") Pinterest
          li.instagram: a(href="#") Instagram

        .nav
          ul
            li &copy; 2014 Timex Group USA, INC
            li All Rights Reserved
            li: a(href="#") Privacy Policy
            li: a(href="#") Terms of Use
            li: a(href="#") Global Sites
            li: a(href="#") Corporate Site
