article-index.jade
extends _template

block content
  .content.article-index
    .scroll
      .article-index-set
        .content-left
          .hero.fixed(style="background-image: url('images/temp/hero.jpg');")
            div
              h1.title-color-white Article <span>#1</span>
              h2.title-color-white <span>Timex</span> the <span>Official Timekeeper</span> of the <span>London Marathon</span>
              a(href="#").btn.btn-large Find Our More

        .content-right
          .article-tag-links
            h1 Sort Articles By:
            ul
              li: a(href="#") Training
              li: a(href="#") Diet
              li: a(href="#") Pacing Yourself
              li: a(href="#") London Marathon
              li: a(href="#") The Inspirationals
              li: a(href="#") Kit

          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.left
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article
          .post-link-item(style="background-image: url('images/temp/article3.jpg');")
            .post-link-item-content.right
              h2 Article #3
              h1.title-color-grey Fell <span>Running</span>
              a(href="#").btn View the Article

      .article-index-set
        .content-full
          .content-banner(style="background-image: url('images/temp/article-header.jpg');")
            div
              img(src="images/temp/hero-text.png")
              a.btn.btn-large(href="#") Find Out More

        .center
          a.btn.btn-large.btn-wider.btn-load-more(href="#") Load More

article-index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="index.html" class="logo"><img src="images/logo.png"></a>
        <div class="nav">
          <ul>
            <li><a href="inspirationals.html">The Insipirationals</a></li>
            <li><a href="article-index.html">Articles</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="tag-wall.html">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="content article-index">
        <div class="scroll">
          <div class="article-index-set">
            <div class="content-left">
              <div style="background-image: url('images/temp/hero.jpg');" class="hero fixed">
                <div>
                  <h1 class="title-color-white">Article <span>#1</span></h1>
                  <h2 class="title-color-white"><span>Timex</span> the <span>Official Timekeeper</span> of the <span>London Marathon</span></h2><a href="#" class="btn btn-large">Find Our More</a>
                </div>
              </div>
            </div>
            <div class="content-right">
              <div class="article-tag-links">
                <h1>Sort Articles By:</h1>
                <ul>
                  <li><a href="#">Training</a></li>
                  <li><a href="#">Diet</a></li>
                  <li><a href="#">Pacing Yourself</a></li>
                  <li><a href="#">London Marathon</a></li>
                  <li><a href="#">The Inspirationals</a></li>
                  <li><a href="#">Kit</a></li>
                </ul>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content left">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content right">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content left">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content right">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content left">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
              <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
                <div class="post-link-item-content right">
                  <h2>Article #3</h2>
                  <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a>
                </div>
              </div>
            </div>
          </div>
          <div class="article-index-set">
            <div class="content-full">
              <div style="background-image: url('images/temp/article-header.jpg');" class="content-banner">
                <div><img src="images/temp/hero-text.png"><a href="#" class="btn btn-large">Find Out More</a></div>
              </div>
            </div>
            <div class="center"><a href="#" class="btn btn-large btn-wider btn-load-more">Load More</a></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
