index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="index.html" class="logo"><img src="images/logo.png"></a>
        <div class="nav">
          <ul>
            <li><a href="inspirationals.html">The Insipirationals</a></li>
            <li><a href="article-index.html">Articles</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="tag-wall.html">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="content home">
        <div class="scroll">
          <div class="content-left">
            <div class="fixed">
              <div style="background-image: url('images/temp/hero.jpg');" class="hero">
                <div><img src="images/temp/hero-text.png"><a href="#" class="btn btn-large">Find Our More</a></div>
              </div>
            </div>
          </div>
          <div class="content-right">
            <div class="post-link-item">
              <ul class="slider">
                <li style="background-image: url('images/temp/meet-the-inspirationals.jpg');">
                  <div class="post-link-item-content right"><img src="images/temp/meet-the-inspirationals-text.png"><a href="#" class="btn">Find Our More</a>
                    <ul class="slider-pager">
                      <li class="active">1</li>
                      <li>2</li>
                      <li>3</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div style="background-image: url('images/temp/join-the-inspirationals.jpg');" class="post-link-item">
              <div class="post-link-item-content left"><img src="images/temp/join-the-inspirationals-text.png"><a href="#" class="btn">Find Our More</a></div>
            </div>
            <div class="post-link-item">
              <ul class="slider">
                <li style="background-image: url('images/temp/connect-on-the-run.jpg');">
                  <div class="post-link-item-content right"><img src="images/temp/connect-on-the-run-text.png"><a href="#" class="btn">Find Our More</a>
                    <ul class="slider-pager">
                      <li class="active">1</li>
                      <li>2</li>
                      <li>3</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div style="background-image: url('images/temp/article3.jpg');" class="post-link-item">
              <div class="post-link-item-content left">
                <h2>Article #3</h2>
                <h1 class="title-color-grey">Fell <span>Running</span></h1><a href="#" class="btn">View the Article</a><a href="#" class="btn">See All Articles</a>
              </div>
            </div>
            <div class="post-link-item social-feed">
              <h1>Social Feed</h1>
              <ul>
                <li class="social-feed-twitter">
                  <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
                  <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                  <div class="social-feed-content">
                    <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                  </div>
                </li>
                <li class="social-feed-instagram">
                  <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
                  <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                  <div class="social-feed-content">
                    <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                  </div>
                </li>
                <li class="social-feed-twitter">
                  <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                  <div class="social-feed-content">
                    <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                  </div>
                </li>
              </ul><a href="#" class="btn">VIEW THE #TAG WALL</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

index.jade
extends _template

block content
  .content.home
    .scroll
      .content-left
        .fixed
          .hero(style="background-image: url('images/temp/hero.jpg');")
            div
              img(src="images/temp/hero-text.png")
              a(href="#").btn.btn-large Find Our More

      .content-right
        .post-link-item
          ul.slider
            li(style="background-image: url('images/temp/meet-the-inspirationals.jpg');")
              .post-link-item-content.right
                img(src="images/temp/meet-the-inspirationals-text.png")
                a(href="#").btn Find Our More
                ul.slider-pager
                  li.active 1
                  li 2
                  li 3

        .post-link-item(style="background-image: url('images/temp/join-the-inspirationals.jpg');")
          .post-link-item-content.left
            img(src="images/temp/join-the-inspirationals-text.png")
            a(href="#").btn Find Our More

        .post-link-item
          ul.slider
            li(style="background-image: url('images/temp/connect-on-the-run.jpg');")
              .post-link-item-content.right
                img(src="images/temp/connect-on-the-run-text.png")
                a(href="#").btn Find Our More
                ul.slider-pager
                  li.active 1
                  li 2
                  li 3


        .post-link-item(style="background-image: url('images/temp/article3.jpg');")
          .post-link-item-content.left
            h2 Article #3
            h1.title-color-grey Fell <span>Running</span>
            a(href="#").btn View the Article
            a(href="#").btn See All Articles

        .post-link-item.social-feed
          h1 Social Feed
          ul
            li.social-feed-twitter
              .social-feed-image
                img(src="images/temp/twitter-image.jpg")
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            li.social-feed-instagram
              .social-feed-image
                img(src="images/temp/instagram-photo.jpg")
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            li.social-feed-twitter
              .social-feed-info
                img(src="images/temp/twitter-profile.jpg")
                span Name Here
                span 6 mins ago
              .social-feed-content
                p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
          a(href="#").btn VIEW THE #TAG WALL
