inspirationals.jade
extends _template

block content
  .content.inspirationals
    .scroll
      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li.active 1
              li 2
              li 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL


      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero2.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li 1
              li.active 2
              li 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL

      .inspirationals-item
        .content-left
          .hero(style="background-image: url('images/temp/inspirationals-hero.jpg');")
            div
              img(src="images/temp/inspirationals-hero-text.png")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li 1
              li 2
              li.active 3
        .content-right
          .content-copy
            h2.title-color-red Training <span>for the</span> run
            h3 A bit about the man
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            .copy-image
              img(src="images/temp/inspirationals-content-image.jpg")
              p Lorem ipsum


            h2.title-color-red The Big <span>Interview</span>
            h4 Interviewer

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            .copy-bg
              img(src="images/temp/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg')")
              img(src="images/temp/quote-text.png")

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-short

            p.copy-question Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?
            p.copy-answer Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.

            hr.divider-long

            .copy-links
              span Keyword links:
              ul
                li: a(href="#") watch
                li: a(href="#") training
                li: a(href="#") sport
                li: a(href="#") Ruth

          .social-feed
            h1 James' Social Feed
            ul
              li.social-feed-twitter
                .social-feed-image
                  img(src="images/temp/twitter-image.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-instagram
                .social-feed-image
                  img(src="images/temp/instagram-photo.jpg")
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
              li.social-feed-twitter
                .social-feed-info
                  img(src="images/temp/twitter-profile.jpg")
                  span Name Here
                  span 6 mins ago
                .social-feed-content
                  p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
            a(href="#").btn VIEW THE #TAG WALL

inspirationals.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="index.html" class="logo"><img src="images/logo.png"></a>
        <div class="nav">
          <ul>
            <li><a href="inspirationals.html">The Insipirationals</a></li>
            <li><a href="article-index.html">Articles</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="tag-wall.html">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="content inspirationals">
        <div class="scroll">
          <div class="inspirationals-item">
            <div class="content-left">
              <div style="background-image: url('images/temp/inspirationals-hero.jpg');" class="hero">
                <div><img src="images/temp/inspirationals-hero-text.png">
                  <ul class="social social-black">
                    <li class="youtube"><a href="#">Youtube</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="pinterest"><a href="#">Pinterest</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                  </ul>
                </div>
                <ul class="slider-pager slider-pager-vertical">
                  <li class="active">1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2 class="title-color-red">Training <span>for the</span> run</h2>
                <h3>A bit about the man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="copy-image"><img src="images/temp/inspirationals-content-image.jpg">
                  <p>Lorem ipsum</p>
                </div>
                <h2 class="title-color-red">The Big <span>Interview</span></h2>
                <h4>Interviewer</h4>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <div class="copy-bg"><img src="images/temp/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg')" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-long">
                <div class="copy-links"><span>Keyword links:</span>
                  <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">training</a></li>
                    <li><a href="#">sport</a></li>
                    <li><a href="#">Ruth</a></li>
                  </ul>
                </div>
              </div>
              <div class="social-feed">
                <h1>James' Social Feed</h1>
                <ul>
                  <li class="social-feed-twitter">
                    <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-instagram">
                    <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-twitter">
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                </ul><a href="#" class="btn">VIEW THE #TAG WALL</a>
              </div>
            </div>
          </div>
          <div class="inspirationals-item">
            <div class="content-left">
              <div style="background-image: url('images/temp/inspirationals-hero2.jpg');" class="hero">
                <div><img src="images/temp/inspirationals-hero-text.png">
                  <ul class="social social-black">
                    <li class="youtube"><a href="#">Youtube</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="pinterest"><a href="#">Pinterest</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                  </ul>
                </div>
                <ul class="slider-pager slider-pager-vertical">
                  <li>1</li>
                  <li class="active">2</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2 class="title-color-red">Training <span>for the</span> run</h2>
                <h3>A bit about the man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="copy-image"><img src="images/temp/inspirationals-content-image.jpg">
                  <p>Lorem ipsum</p>
                </div>
                <h2 class="title-color-red">The Big <span>Interview</span></h2>
                <h4>Interviewer</h4>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <div class="copy-bg"><img src="images/temp/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg')" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-long">
                <div class="copy-links"><span>Keyword links:</span>
                  <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">training</a></li>
                    <li><a href="#">sport</a></li>
                    <li><a href="#">Ruth</a></li>
                  </ul>
                </div>
              </div>
              <div class="social-feed">
                <h1>James' Social Feed</h1>
                <ul>
                  <li class="social-feed-twitter">
                    <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-instagram">
                    <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-twitter">
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                </ul><a href="#" class="btn">VIEW THE #TAG WALL</a>
              </div>
            </div>
          </div>
          <div class="inspirationals-item">
            <div class="content-left">
              <div style="background-image: url('images/temp/inspirationals-hero.jpg');" class="hero">
                <div><img src="images/temp/inspirationals-hero-text.png">
                  <ul class="social social-black">
                    <li class="youtube"><a href="#">Youtube</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="pinterest"><a href="#">Pinterest</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                  </ul>
                </div>
                <ul class="slider-pager slider-pager-vertical">
                  <li>1</li>
                  <li>2</li>
                  <li class="active">3</li>
                </ul>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2 class="title-color-red">Training <span>for the</span> run</h2>
                <h3>A bit about the man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="copy-image"><img src="images/temp/inspirationals-content-image.jpg">
                  <p>Lorem ipsum</p>
                </div>
                <h2 class="title-color-red">The Big <span>Interview</span></h2>
                <h4>Interviewer</h4>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <div class="copy-bg"><img src="images/temp/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg')" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-short">
                <p class="copy-question">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur?</p>
                <p class="copy-answer">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem  accusantium doloremque laudantium.</p>
                <hr class="divider-long">
                <div class="copy-links"><span>Keyword links:</span>
                  <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">training</a></li>
                    <li><a href="#">sport</a></li>
                    <li><a href="#">Ruth</a></li>
                  </ul>
                </div>
              </div>
              <div class="social-feed">
                <h1>James' Social Feed</h1>
                <ul>
                  <li class="social-feed-twitter">
                    <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-instagram">
                    <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                  <li class="social-feed-twitter">
                    <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
                    <div class="social-feed-content">
                      <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
                    </div>
                  </li>
                </ul><a href="#" class="btn">VIEW THE #TAG WALL</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
