product.jade
extends _template

block content
  .content.product
    .scroll
      .product-item#ironman-one-gps
        .content-left
          .hero(style="background-color: #313E49;")
            div
              img(src="images/temp/product-ironman-one-gps.jpg")
              ul.social.social-black
                li.youtube: a(href="#") Youtube
                li.twitter: a(href="#") Twitter
                li.facebook: a(href="#") Facebook
                li.pinterest: a(href="#") Pinterest
                li.instagram: a(href="#") Instagram
            ul.slider-pager.slider-pager-vertical
              li.active 1
              li 2
              li 3

        .content-right
          .content-copy
            h2 Show <span>yourself</span> what <span>yourself</span>
            p What if you could leave your phone behind and stay  connected? Simplify your active life and become truly mobile. Your run, your tunes, and your messaging without your phone. Let’s face it. There are times when we want to travel light, carry the bare minimum, hit the road and go.
            p Introducing <strong>Timex® IRONMAN® ONE GPS+</strong>

            ul
              li Built-in connection to mobile network enables phone-free messaging, live tracking, and convenient upload.
              li Ability to track speed, distance and pace in real-time and instantaneously share performance metrics through your favorite social media and online fitness platforms.
              li Custom-built “Find Me Mode” safety solution, which allows users to send an alert with exact location in case of an emergency.
              li Instafix GPS provides fast and accurate distance and pace.
              li Built-in 4GB MP3 player can connect tunes to your wireless Bluetooth® headset (not included).
              li Always-on, touch screen Qualcomm® Mirosol® display provides brilliant resolution inside or out.
              li 50-meter water resistance, so you can splash and swim worry-free (*GPS reception and cellular services not available with watch in water).

            p The <strong>TIMEX® IRONMAN® ONE GPS+</strong>, offers groundbreaking stand-alone wireless connectivity without a phone and includes a series of game-changing features. Providing new solutions for fitness activities and for any other instance when carrying your phone is not ideal!

            h2 Coming Soon...

            .copy-bg
              img(src="images/copy-bg.png")

      .product-item.product-item-right#ironman-run-x20-gps
        .content-left
          .hero(style="background-color: #4A6A83;")
            div
              img(src="images/temp/product-ironman-run-x20-gps.jpg")

        .content-right
          .content-copy
            h2 Show <span>yourself</span> what <span>you can do</span>

            p Small. Simple. Finally a GPS watch as comfortable and easy-to-use as your favorite sports watch.
            p  For many of us, GPS technology has made running more enjoyable… freeing us from the treadmills and tracks, providing motivation when we need it and giving an undeniable sense of accomplishment when it’s all done. But it has also come with the cost of wearing a bulky device that leaves tan lines over half your forearms. What if you could have all of the advantages of GPS, but with the same ergonomic, streamlined fit of the sports watch that you grew up with?
            p The only thing more shocking than the comfort of the <strong>Timex® IRONMAN® Run x20 GPS</strong> watch is how fast you’ll go with it!


            ul
              li GPS-enabled.
              li Real-time speed, pace, distance and calories on your wrist.
              li Crisp, easy-to-read display.
              li Simple menu-based system.
              li Interval Timer to coach you through run/walk routines or speed workouts.
              li 50-meter water resistance, so you can splash and swim worry-free (*GPS reception not available with watch in water).
              li 6 hour battery life in GPS mode/ 1 week battery life on standby.

            p The watch also includes an interval timer, which can track run/walk repeats or circuit training, and provides an alert at the end of each mile or kilometer so you can conveniently track progress. This simple to use watch delivers the essentials and is perfect for beginner or minimalist runners. It comes in lime, magenta, blue and charcoal.
            p The TIMEX® IRONMAN® Run x20 GPS is available now for £89.99.

            .center
              a.btn.btn-wide.btn-large.btn-buy(href="#") Buy Now

            .copy-bg
              img(src="images/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg');")
              img(src="images/temp/quote-text.png")

            .btn-review-container
              a.btn.btn-large.btn-wide(href="#") Read Review

            .copy-bg
              img(src="images/copy-bg.png")



      .product-item#ironman-move-x20
        .content-left
          .hero(style="background-color: #000103;")
            div
              img(src="images/temp/product-ironman-move-x20.jpg")

        .content-right
          .content-copy
            h2 Show <span>yourself</span> what <span>you can do</span>
            p It’s all about you. Understand how you move so you can live better. Track all-day activity, including workouts, and monitor sleep time and quality. Pair with your smartphone to get texts on your wrist, set goals and discover patterns to turn insight into action.
            p Humanbeings were made to move. From the time we roll out of bed in the morning to the moment we crawl back in at night, we are constantly on the go.  It’s time to get credit for all that activity. Working seamlessly with your iOS or Android smartphone, the <strong>Timex® IRONMAN® Move x20</strong> activity tracker measures your movement all day, tracks your workouts and even helps you stay on top of texts and calls.  It gives you the tools you need to turn your actions into insights, and helps pace you perfectly in that little race called “life.”

            ul
              li Captures all-day activity including steps, distance and calories burned.
              li Tracks workouts with real time distance, pace, calories burned and total time.
              li Wirelessly syncs to your iOS or Android Smartphone via free app for easy viewing.
              li Monitors sleep levels throughout the night and
              li assesses quality.
              li Displays text alerts and incoming calls directly on
              li your wrist.
              li Convenient Phone Finder allows you to track down a missing phone.
              li 7-day battery life.

            p The <strong>Timex® IRONMAN® Move x20</strong> is perfect for fitness-minded individuals who want to keep track of their daily life and transition effortlessly from work to workout, with one device. Choose between two band sizes, Small and Medium/Large, and a variety of colours, including black, lime and pink. The <strong>TIMEX® IRONMAN® Move x20</strong> is available  for £99.99.

            .center
              a.btn.btn-large.btn-wide.btn-buy(href="#") Buy Now

            .copy-bg
              img(src="images/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg');")
              img(src="images/temp/quote-text.png")

            .btn-review-container
              a.btn.btn-large.btn-wide(href="#") Read Review

            .copy-bg
              img(src="images/copy-bg.png")

      .product-item.product-item-right#ironman-run-x50
        .content-left
          .hero(style="background-color: #7A7C6F;")
            div
              img(src="images/temp/product-ironman-run-x50.jpg")

        .content-right
          .content-copy
            h2 Show <span>yourself</span> what <span>you can do</span>
            p We love fitness apps too, but it’s hard to see your progress with your smartphone strapped to your arm. Wouldn’t it be nice to have all that great info on your wrist? We thought so. And for an added bonus, we included music controls, text controls and notifications.

            ul
              li Stream workout information from your smartphone fitness app.
              li Clear, high resolution, easy-to-read sunlight-readable display.
              li See text alerts, incoming calls, emails, Facebook notifications and more.
              li Control your phone’s music conveniently from your wrist.
              li Easily set watch features from the  free Timex smartphone app.
              li Access full sports watch functionality including stopwatch, interval timer, alarm, and INDIGLO®  night-light in a 50-meter water-resistant design.
              li Compatible with Bluetooth Heart Rate Monitors.
              li Connects wirelessly with iPhone and Android.

            p The TIMEX® IRONMAN® Run x50+ watch is built for those who want to run with their phones, but don’t like the hassle and awkwardness that it entails. Equipped with Bluetooth® technology, the Run x50+ connects to your phone, allowing you to tuck it safely away.  Even without a smartphone connection, it still provides the time, chronograph functions, an interval timer, alarms and the INDIGLO® night-light. It offers water resistance to 50 meters, so it can survive splashing, swimming and training in the rain.
            p The TIMEX® IRONMAN® Run x50+ will be available for £175.00 without heart rate monitor, £199.99 with heart rate monitor.

            h2 <span>Coming Soon...</span>

            .copy-bg
              img(src="images/copy-bg.png")

            .quote-box(style="background-image: url('images/temp/quote-bg.jpg');")
              img(src="images/temp/quote-text.png")

            .btn-review-container
              a.btn.btn-large.btn-wide(href="#") Read Review

            .copy-bg
              img(src="images/copy-bg.png")

product.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="index.html" class="logo"><img src="images/logo.png"></a>
        <div class="nav">
          <ul>
            <li><a href="inspirationals.html">The Insipirationals</a></li>
            <li><a href="article-index.html">Articles</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="tag-wall.html">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="content product">
        <div class="scroll">
          <div id="ironman-one-gps" class="product-item">
            <div class="content-left">
              <div style="background-color: #313E49;" class="hero">
                <div><img src="images/temp/product-ironman-one-gps.jpg">
                  <ul class="social social-black">
                    <li class="youtube"><a href="#">Youtube</a></li>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="pinterest"><a href="#">Pinterest</a></li>
                    <li class="instagram"><a href="#">Instagram</a></li>
                  </ul>
                </div>
                <ul class="slider-pager slider-pager-vertical">
                  <li class="active">1</li>
                  <li>2</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2>Show <span>yourself</span> what <span>yourself</span></h2>
                <p>What if you could leave your phone behind and stay  connected? Simplify your active life and become truly mobile. Your run, your tunes, and your messaging without your phone. Let’s face it. There are times when we want to travel light, carry the bare minimum, hit the road and go.</p>
                <p>Introducing <strong>Timex® IRONMAN® ONE GPS+</strong></p>
                <ul>
                  <li>Built-in connection to mobile network enables phone-free messaging, live tracking, and convenient upload.</li>
                  <li>Ability to track speed, distance and pace in real-time and instantaneously share performance metrics through your favorite social media and online fitness platforms.</li>
                  <li>Custom-built “Find Me Mode” safety solution, which allows users to send an alert with exact location in case of an emergency.</li>
                  <li>Instafix GPS provides fast and accurate distance and pace.</li>
                  <li>Built-in 4GB MP3 player can connect tunes to your wireless Bluetooth® headset (not included).</li>
                  <li>Always-on, touch screen Qualcomm® Mirosol® display provides brilliant resolution inside or out.</li>
                  <li>50-meter water resistance, so you can splash and swim worry-free (*GPS reception and cellular services not available with watch in water).</li>
                </ul>
                <p>The <strong>TIMEX® IRONMAN® ONE GPS+</strong>, offers groundbreaking stand-alone wireless connectivity without a phone and includes a series of game-changing features. Providing new solutions for fitness activities and for any other instance when carrying your phone is not ideal!</p>
                <h2>Coming Soon...</h2>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
              </div>
            </div>
          </div>
          <div id="ironman-run-x20-gps" class="product-item product-item-right">
            <div class="content-left">
              <div style="background-color: #4A6A83;" class="hero">
                <div><img src="images/temp/product-ironman-run-x20-gps.jpg"></div>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2>Show <span>yourself</span> what <span>you can do</span></h2>
                <p>Small. Simple. Finally a GPS watch as comfortable and easy-to-use as your favorite sports watch.</p>
                <p> For many of us, GPS technology has made running more enjoyable… freeing us from the treadmills and tracks, providing motivation when we need it and giving an undeniable sense of accomplishment when it’s all done. But it has also come with the cost of wearing a bulky device that leaves tan lines over half your forearms. What if you could have all of the advantages of GPS, but with the same ergonomic, streamlined fit of the sports watch that you grew up with?</p>
                <p>The only thing more shocking than the comfort of the <strong>Timex® IRONMAN® Run x20 GPS</strong> watch is how fast you’ll go with it!</p>
                <ul>
                  <li>GPS-enabled.</li>
                  <li>Real-time speed, pace, distance and calories on your wrist.</li>
                  <li>Crisp, easy-to-read display.</li>
                  <li>Simple menu-based system.</li>
                  <li>Interval Timer to coach you through run/walk routines or speed workouts.</li>
                  <li>50-meter water resistance, so you can splash and swim worry-free (*GPS reception not available with watch in water).</li>
                  <li>6 hour battery life in GPS mode/ 1 week battery life on standby.</li>
                </ul>
                <p>The watch also includes an interval timer, which can track run/walk repeats or circuit training, and provides an alert at the end of each mile or kilometer so you can conveniently track progress. This simple to use watch delivers the essentials and is perfect for beginner or minimalist runners. It comes in lime, magenta, blue and charcoal.</p>
                <p>The TIMEX® IRONMAN® Run x20 GPS is available now for £89.99.</p>
                <div class="center"><a href="#" class="btn btn-wide btn-large btn-buy">Buy Now</a></div>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg');" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <div class="btn-review-container"><a href="#" class="btn btn-large btn-wide">Read Review</a></div>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
              </div>
            </div>
          </div>
          <div id="ironman-move-x20" class="product-item">
            <div class="content-left">
              <div style="background-color: #000103;" class="hero">
                <div><img src="images/temp/product-ironman-move-x20.jpg"></div>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2>Show <span>yourself</span> what <span>you can do</span></h2>
                <p>It’s all about you. Understand how you move so you can live better. Track all-day activity, including workouts, and monitor sleep time and quality. Pair with your smartphone to get texts on your wrist, set goals and discover patterns to turn insight into action.</p>
                <p>Humanbeings were made to move. From the time we roll out of bed in the morning to the moment we crawl back in at night, we are constantly on the go.  It’s time to get credit for all that activity. Working seamlessly with your iOS or Android smartphone, the <strong>Timex® IRONMAN® Move x20</strong> activity tracker measures your movement all day, tracks your workouts and even helps you stay on top of texts and calls.  It gives you the tools you need to turn your actions into insights, and helps pace you perfectly in that little race called “life.”</p>
                <ul>
                  <li>Captures all-day activity including steps, distance and calories burned.</li>
                  <li>Tracks workouts with real time distance, pace, calories burned and total time.</li>
                  <li>Wirelessly syncs to your iOS or Android Smartphone via free app for easy viewing.</li>
                  <li>Monitors sleep levels throughout the night and</li>
                  <li>assesses quality.</li>
                  <li>Displays text alerts and incoming calls directly on</li>
                  <li>your wrist.</li>
                  <li>Convenient Phone Finder allows you to track down a missing phone.</li>
                  <li>7-day battery life.</li>
                </ul>
                <p>The <strong>Timex® IRONMAN® Move x20</strong> is perfect for fitness-minded individuals who want to keep track of their daily life and transition effortlessly from work to workout, with one device. Choose between two band sizes, Small and Medium/Large, and a variety of colours, including black, lime and pink. The <strong>TIMEX® IRONMAN® Move x20</strong> is available  for £99.99.</p>
                <div class="center"><a href="#" class="btn btn-large btn-wide btn-buy">Buy Now</a></div>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg');" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <div class="btn-review-container"><a href="#" class="btn btn-large btn-wide">Read Review</a></div>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
              </div>
            </div>
          </div>
          <div id="ironman-run-x50" class="product-item product-item-right">
            <div class="content-left">
              <div style="background-color: #7A7C6F;" class="hero">
                <div><img src="images/temp/product-ironman-run-x50.jpg"></div>
              </div>
            </div>
            <div class="content-right">
              <div class="content-copy">
                <h2>Show <span>yourself</span> what <span>you can do</span></h2>
                <p>We love fitness apps too, but it’s hard to see your progress with your smartphone strapped to your arm. Wouldn’t it be nice to have all that great info on your wrist? We thought so. And for an added bonus, we included music controls, text controls and notifications.</p>
                <ul>
                  <li>Stream workout information from your smartphone fitness app.</li>
                  <li>Clear, high resolution, easy-to-read sunlight-readable display.</li>
                  <li>See text alerts, incoming calls, emails, Facebook notifications and more.</li>
                  <li>Control your phone’s music conveniently from your wrist.</li>
                  <li>Easily set watch features from the  free Timex smartphone app.</li>
                  <li>Access full sports watch functionality including stopwatch, interval timer, alarm, and INDIGLO®  night-light in a 50-meter water-resistant design.</li>
                  <li>Compatible with Bluetooth Heart Rate Monitors.</li>
                  <li>Connects wirelessly with iPhone and Android.</li>
                </ul>
                <p>The TIMEX® IRONMAN® Run x50+ watch is built for those who want to run with their phones, but don’t like the hassle and awkwardness that it entails. Equipped with Bluetooth® technology, the Run x50+ connects to your phone, allowing you to tuck it safely away.  Even without a smartphone connection, it still provides the time, chronograph functions, an interval timer, alarms and the INDIGLO® night-light. It offers water resistance to 50 meters, so it can survive splashing, swimming and training in the rain.</p>
                <p>The TIMEX® IRONMAN® Run x50+ will be available for £175.00 without heart rate monitor, £199.99 with heart rate monitor.</p>
                <h2><span>Coming Soon...</span></h2>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
                <div style="background-image: url('images/temp/quote-bg.jpg');" class="quote-box"><img src="images/temp/quote-text.png"></div>
                <div class="btn-review-container"><a href="#" class="btn btn-large btn-wide">Read Review</a></div>
                <div class="copy-bg"><img src="images/copy-bg.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
