tag-wall.jade
extends _template

block content
  .content.tag-wall
    .content-full
      ul
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
              p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-image
            img(src="images/temp/twitter-image.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-instagram
          .social-feed-image
            img(src="images/temp/instagram-photo.jpg")
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>
        li.social-feed-twitter
          .social-feed-info
            img(src="images/temp/twitter-profile.jpg")
            span Name Here
            span 6 mins ago
          .social-feed-content
            p Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a>

tag-wall.html
<!DOCTYPE html>
<html>
  <head>
    <title>Timex</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8">
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.jscrollpane.js"></script>
    <script src="js/jquery-scrollspy.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header"><a href="index.html" class="logo"><img src="images/logo.png"></a>
        <div class="nav">
          <ul>
            <li><a href="inspirationals.html">The Insipirationals</a></li>
            <li><a href="article-index.html">Articles</a></li>
            <li><a href="product.html">Products</a></li>
            <li><a href="tag-wall.html">#TAG Wall</a></li>
            <li><a href="#">The Predictor</a></li>
          </ul>
        </div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="timer">
          <ul class="timer-count">
            <li>254</li>
            <li>12</li>
            <li>43</li>
            <li>12</li>
          </ul>
          <ul class="timer-label">
            <li>Days</li>
            <li>Hrs</li>
            <li>Mins</li>
            <li>Secs</li>
          </ul>
        </div>
      </div>
      <div class="content tag-wall">
        <div class="content-full">
          <ul>
            <li class="social-feed-twitter">
              <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-instagram">
              <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-instagram">
              <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-instagram">
              <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-instagram">
              <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-image"><img src="images/temp/twitter-image.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-instagram">
              <div class="social-feed-image"><img src="images/temp/instagram-photo.jpg"></div>
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
            <li class="social-feed-twitter">
              <div class="social-feed-info"><img src="images/temp/twitter-profile.jpg"><span>Name Here</span><span>6 mins ago</span></div>
              <div class="social-feed-content">
                <p>Lorem <a href="#">@ipsum</a> dolor sit amet, consectetur adipiscing elit. <a href="#">#Timexsommat</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer">
        <div class="logo"><img src="images/logo.png"></div>
        <div class="logo-sub"><img src="images/logo-sub.png"></div>
        <ul class="social">
          <li class="youtube"><a href="#">Youtube</a></li>
          <li class="twitter"><a href="#">Twitter</a></li>
          <li class="facebook"><a href="#">Facebook</a></li>
          <li class="pinterest"><a href="#">Pinterest</a></li>
          <li class="instagram"><a href="#">Instagram</a></li>
        </ul>
        <div class="nav">
          <ul>
            <li>&copy; 2014 Timex Group USA, INC</li>
            <li>All Rights Reserved</li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Global Sites</a></li>
            <li><a href="#">Corporate Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
